<p>member works!</p>
<hr>
<h2 class="text-warning">List of Product</h2>
<!-- <hr>
<form>
  <div class="form-group">
    <label for="cari">Product Name</label>
    <div>
      <input type="text" class="form-control" id="cari" name="cari" placeholder="Product Name">
    </div>
  </div>
  <input class="btn btn-info" type="submit" value="Search">
</form>
<hr>
<div>
  Search: <input type="text" placeholder="Product Name">
</div>
<br> -->
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Member ID</th>
      <th scope="col">Name</th>
      <th scope="col">Birthday</th>
      <th scope="col">Parents Name</th>
      <th scope="col">Phone</th>
      <th scope="col">E-mail</th>
      <th scope="col">Had a music lesson?</th>
      <th scope="col">Control</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mbr of listMember; let indx = index;">
      <td>{{indx + 1}}</td>
      <td>{{mbr.memberid}}</td>
      <td>{{mbr.name}}</td>
      <td>{{mbr.birthday}}</td>
      <td>{{mbr.parentsname}}</td>
      <td>{{mbr.phone}}</td>
      <td>{{mbr.email}}</td>
      <td>{{mbr.hadlesson? 'Yes' : 'No'}}</td>
      <td>
        <button>Edit</button>
        <br>
        <button class="text-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
