<h2 class="text-warning">List of Member</h2>
<hr>
<form>
  <div class="form-group form-inline d-flex justify-content-center" [formGroup]="searchMemberForm">
    <label for="cari">Search by Member Name</label>
    <div style="width: 5%;"></div>
    <input type="text" style="width: 50%;" class="form-control" id="cari" name="cari" placeholder="Member Name"
      [formControlName]="'memberName'" (input)="cari()">
  </div>
</form>
<hr>
<!-- <div>
  Search: <input type="text" placeholder="Product Name">
</div> -->
<br>
<table class="table table-striped table-hover table-bordered table-responsive">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Member ID</th>
      <th scope="col">Name</th>
      <th scope="col">Birthday</th>
      <th scope="col">Parents Name</th>
      <th scope="col">Phone</th>
      <th scope="col">E-mail</th>
      <th scope="col">Had a music lesson?</th>
      <th scope="col">Control</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mbr of listMember; let indx = index;">
      <td style="vertical-align: middle">{{indx + 1}}</td>
      <td style="vertical-align: middle">{{mbr.memberid}}</td>
      <td style="vertical-align: middle">{{mbr.name}}</td>
      <td style="vertical-align: middle">{{mbr.birthday}}</td>
      <td style="vertical-align: middle">{{mbr.parentsname}}</td>
      <td style="vertical-align: middle">0{{mbr.phone}}</td>
      <td style="vertical-align: middle">{{mbr.email}}</td>
      <td style="vertical-align: middle">{{mbr.hadlesson? resultLesson[indx] : 'No'}}</td>
      <td style="vertical-align: middle">
        <button routerLink="/addmember/{{mbr.memberid}}">Edit</button>
        <br>
        <button class="text-danger" (click)="hapus(mbr.memberid)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
