<p>add-member works!</p>
<form class="form-horizontal" [formGroup]="memberForm">
  <fieldset>
    <legend>{{this.id == undefined || this.id == null ? 'Register' : 'Update'}} Member</legend>
    <div class="form-group">
      <label for="memberid" class="col">Member ID (8 Digit)</label>
      <div class="col">
        <input type="text" class="form-control" id="memberid" placeholder="ex: 12345678" [formControlName]="'memberid'"
          maxlength="8" required>
        <span *ngIf="!memberForm.get('memberid')?.valid &&
          memberForm.get('memberid')?.touched" class="text-danger">Wajib diisi dengan angka 8 digit!</span>
      </div>
    </div>
    <div class="form-group">
      <label for="name" class="col">Name</label>
      <div class="col">
        <input type="text" class="form-control" id="name" placeholder="Name" [formControlName]="'name'" maxlength="100"
          required>
        <span *ngIf="!memberForm.get('name')?.valid &&
          memberForm.get('name')?.touched" class="text-danger">Wajib diisi!</span>
        <!-- [(ngModel)]="tessss" [ngModelOptions]="{standalone: true}"> -->
      </div>
    </div>
    <div class="form-group">
      <label for="birthday" class="col">Birthday</label>
      <div class="col">
        <input type="date" class="form-control calendar" id="birthday" [formControlName]="'birthday'" required>
        <span *ngIf="!memberForm.get('birthday')?.valid &&
            memberForm.get('birthday')?.touched" class="text-danger">Wajib diisi!</span>
      </div>
    </div>
    <div class="form-group">
      <label for="parentsname" class="col">Parents Name</label>
      <div class="col">
        <input type="text" class="form-control" id="parentsname" placeholder="Parents Name"
          [formControlName]="'parentsname'" maxlength="100" required>
        <span *ngIf="!memberForm.get('parentsname')?.valid &&
          memberForm.get('parentsname')?.touched" class="text-danger">Wajib diisi!</span>
      </div>
    </div>
    <div class="form-group">
      <label for="phone" class="col">Phone Number</label>
      <div class="col">
        <input type="text" class="form-control" id="phone" placeholder="ex: 085123456789" [formControlName]="'phone'"
          maxlength="13" required>
        <span *ngIf="!memberForm.get('phone')?.valid &&
            memberForm.get('phone')?.touched" class="text-danger">Wajib diisi dengan nomor ponsel 10-13 digit!</span>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col">E-mail</label>
      <div class="col">
        <input type="email" class="form-control" id="email" placeholder="ex: your@email.com" [formControlName]="'email'"
          required>
        <span *ngIf="!memberForm.get('email')?.valid &&
        memberForm.get('email')?.touched" class="text-danger">Wajib diisi dengan e-mail'@' !</span>
      </div>
    </div>
    <div class="form-group">
      <div class="form-inline">
        <label for="hadlesson" class="col d-flex justify-content-end" (change)="myVar2 = !myVar2">Had a Music
          Lesson</label>
        <div class="col d-flex justify-content-start">
          <input type="checkbox" id="hadlesson" [checked]="myVar2" (change)="myVar2 = !myVar2"
            [formControlName]="'hadlesson'">
        </div>
      </div>
      <div class="row" style="height: auto;" *ngIf="!myVar2? '' : 'disabled'">
        <div class="col-1"></div>
        <div class="col border">
          <table style="margin: auto;">
            <td>
              <tr style="line-height: 40px;">
                <td><input type="checkbox" [formControlName]="'gtrklasik'"></td>
                <td style="text-align: left;">Gitar Klasik</td>
              </tr>
              <tr style="line-height: 40px;">
                <td><input type="checkbox" [formControlName]="'gtrpop'"></td>
                <td style="text-align: left;">Gitar Pop</td>
              </tr>
              <tr style="line-height: 40px;">
                <td><input type="checkbox" [formControlName]="'gtrelektrik'"></td>
                <td style="text-align: left;">Gitar Elektrik</td>
              </tr>
              <tr style="line-height: 40px;">
                <td><input type="checkbox" [formControlName]="'basselektrik'"></td>
                <td style="text-align: left;">Bass Elektrik</td>
              </tr>
              <tr style="line-height: 40px;">
                <td><input type="checkbox" [formControlName]="'pianoklasik'"></td>
                <td style="text-align: left;">Piano Klasik</td>
              </tr>
              <tr style="line-height: 40px;">
                <td><input type="checkbox" [formControlName]="'pianopop'"></td>
                <td style="text-align: left;">Piano Pop</td>
              </tr>
            </td>
            <td style="width: 10%;"></td>
            <td>
              <tr style="line-height: 40px;">
                <td><input type="checkbox" [formControlName]="'keyboard'"></td>
                <td style="text-align: left;">Keyboard</td>
              </tr>
              <tr style="line-height: 40px;">
                <td><input type="checkbox" [formControlName]="'drum'"></td>
                <td style="text-align: left;">Drum</td>
              </tr>
              <tr style="line-height: 40px;">
                <td><input type="checkbox" [formControlName]="'biola'"></td>
                <td style="text-align: left;">Biola</td>
              </tr>
              <tr style="line-height: 40px;">
                <td><input type="checkbox" [formControlName]="'vocal'"></td>
                <td style="text-align: left;">Vocal</td>
              </tr>
              <tr style="line-height: 40px;">
                <td><input type="checkbox" [formControlName]="'terapimusikautis'"></td>
                <td style="text-align: left;">Terapi Musik Autis</td>
              </tr>
            </td>
          </table>
        </div>
        <div class="col-1"></div>
      </div>
    </div>

    <div class="form-group">
      <div class="col">
        <button type="submit" class="btn {{memberForm.valid? 'btn-primary' : 'btn-danger'}}" (click)="simpan()"
          [disabled]="!memberForm.valid">Submit</button>
      </div>
    </div>

  </fieldset>
</form>
{{tessss}}
